<!DOCTYPE html>

<html>
    <head>
        <title>Blog da Marcelinha</title>
    </head>        
    <body> 
        <header>
            <h1><a href="/">Marcelinha fez um Django Girls Blog</a></h1>
        </header>
        <article>
            <time>published: 07.10.2014, 14:14</time>
            <h2><a href="">My first post is the best post</a></h2>
            <p>lalalala lolololo</p>
        </article>
        <article>
            <time>published: 07.10.2014, 14:14</time>
            <h2><a href="">My second post post is the now the best post</a></h2>
            <p>Hi there</p>
            <p>It is working, bitch! congrats</p>
        </article>



    </body>
</html>           